* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    background-color: #f5f5f5;
}

p {
    color: #6c757d;
}

a {
    text-decoration: none;
    color: #00ceb4;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #009e93;
}

.container {
    width: 100%;
    max-width: 420px; 
    padding: 15px;
    padding-top: 0; 

}
/* Header */
.header__logo {
    width: 82px;
    height: 82px;
    vertical-align: middle;
    margin-bottom: 1.5rem;
}

/* Form */
.form {
    width: 100%;
    max-width: 420px;
    padding: 15px 0 0 0;
    margin: auto;
}

.form__input {
    width: 100%;
    height: 3.125rem;
    padding: .75rem;
    margin-bottom: 1rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
    outline: none;
}

.form__input:focus {
    border: 2px solid rgb(8,56,99, .8);
    border-style: inset;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14)
}

.form--btn {
    cursor: pointer;
    width: 100%;
    height: 3.125rem;
    padding: .75rem;
    font-size: 1.25rem;
    font-family: inherit;
    color: #fff;
    border: 0;
    border-radius: 5px;
    background-color: #00ceb4;
    margin-bottom: 1rem;
    outline: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14);
    transition: all .15s ease-in-out;
}

.form--btn:hover {
    background-color:#009e93;
}

.form--btn:active {
    background-color: #2a6f66;
}

/* Todo List */
.todo__list {
    width: 100%;
    /* background-color: #d4e1f4; */
    border-radius: 10px; 
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14);
}

.todo {
    display: flex;
    align-items: center;
    padding: .5rem;
    padding-right: 4px;
    padding-left: 10px;
    transition: all .3s ease-in-out;
}

.todo:hover {
    font-weight: 700;   
  }

.todo__item {
    padding-left: 4px; 
    width: 90%;
    text-align: left;
    padding: 0;
    cursor: pointer;
    user-select: none;
    color: #083863;
}

.done {
      text-decoration: line-through;
      font-style: italic;
      color: #00ceb4;
  }

/* Icons */
.icon {
    width: 20px;
    height: 20px;
    background-color: #083863;
    margin-right: 3px;
    opacity: .3;
    cursor: pointer;
}

  .item--edit {
    -webkit-mask: url('../assets/edit.svg') no-repeat center;
            mask: url('../assets/edit.svg') no-repeat center;   
  }

  .item--delete {
    -webkit-mask: url('../assets/delete.svg') no-repeat center;
            mask: url('../assets/delete.svg') no-repeat center;
  }

  .item--edit,
  .item--delete {
      transition: all .15s ease-in-out;
  }

  .item--edit:hover,
  .item--delete:hover {
      transform: scale(1.2);
      opacity: 1;
  }

  .item--edit:active,
  .item--delete:active {
      transform: scale(.97);
      opacity: 1;
  }